#root{
  min-width: 100%;
}

.sidebar {
    height: 100%; /* Ensure the sidebar takes up the full height */
    /* position: fixed; */
     /* Fix the sidebar to the left */
  }
  
  .sidebar ul {
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .sidebar li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffcc00;
  }
  
  /* .main-content {
    margin-left: 25%; 
    Adjust the main content to the right of the sidebar
  }
   */
  .hover-effect {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
  }
  
  .hover-effect:hover {
    background: #343a40;
    color: #ffc107;
  }
  
  .card-body{
    height: 10rem;
  }